header {
    position: fixed;
    top: 0px;
    width: 100vw;
    background-color: darkred;
}

nav{
    grid-column: 1;
    position: flex;
    display: flex;
    align-items: center;
}

a:link, a:visited {
    background-color: goldenrod;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: double;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: gold;
  }

ul {
    margin: 20px;
}

li {
    display: inline;
    margin-right: 50px;
}

main {
    padding-top: 200px;
    padding-bottom: 80px;
}

h1 {
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: xx-large;
    font: 600;
}

h2 {
    margin-top: 0px;
    font-size: x-large;
    font: 600;
}

h3 {
    margin: 0px;
}

p {
    margin-bottom: 20px;
    margin: 30px;
}

section {
    margin: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: darkred;
    color: white;
    height: 20px;
    margin-top: 20px;
}

#picOfMe {
    border-radius: 8px;
    width: 400px;
    margin-right: 2%;
}


#byzEagle {
    width: 75px;
    margin-left: 10px;
}

#byzEagle:hover {
    transform: scaleX(-1);
}

#whoAmI {
    width: 65%;
    margin-right: 2%;
    float: right;
    background-color: antiquewhite;
}

#copyright {
    position: absolute;
    bottom: 2px;
    right: 1.5vw;
}

@media (max-width: 1200px) {
    #whoAmI {
        width: 40%;
    }
}